[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=3
# ExecStart=%h/.local/bin/kmonad %h/.config/kmonad/home-row-mods.kbd
ExecStart=%h/.local/bin/kmonad %h/.config/kmonad/%i.kbd
Nice=-20
# StandardOutput=null
# StandardError=null

[Install]
# DefaultInstance=config
WantedBy=default.target
