layout {
	tab_template name="project" {
		// pane size=1 borderless=true {
		// 	plugin location="zellij:tab-bar"
		// }
		children
		// pane size=2 borderless=true {
		// 	plugin location="zellij:status-bar"
		// }
		pane size=1 borderless=true {
			plugin location="zellij:compact-bar"
		}
	}
	project name="hx" focus=true {
		pane command="hx" borderless=true
	}
	project name="lazygit" {
		pane command="lazygit" borderless=true
	}
}
