layout {
	tab_template name="project" {
		pane size=1 borderless=true {
			plugin location="zellij:tab-bar"
		}
		children
		pane size=2 borderless=true {
			plugin location="zellij:status-bar"
		}
	}
	project name="hx" focus=true {
		pane command="hx"
	}
	project name="lazygit" {
		pane command="lazygit"
	}
}
