[Desktop Entry]
Encoding=UTF-8
Name=Firefox Developer Edition
GenericName=Developer Web Browser
Comment=Browse the World Wide Web
Type=Application
Terminal=false
Exec=env MOZ_USE_XINPUT2=1 MOZ_ENABLE_WAYLAND=1 MOZ_APP_REMOTINGNAME=firefox-dev nice -n 1 /home/pcs/Applications/firefox-developer-edition/firefox --class FirefoxDev --name firefox-dev %U
Icon=/home/pcs/Applications/firefox-developer-edition/browser/chrome/icons/default/default128.png
Path=/home/pcs/Applications/firefox-developer-edition
StartupWMClass=FirefoxDev
StartupNotify=true
Categories=Network;WebBrowser;Developer;
